@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --shadow-color: hsl(217, 55%, 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-BG);
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left; /*zmienia wyjustowanie tekstu w całym kontenerze*/
  min-height: 100vh;
  /* 
  position: absolute; */

  /* margin-top: 150px;
  margin-left: 545px; */
}
.container__Card {
  background-color: var(--card-BG);
  width: 350px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 15px 40px 15px var(--shadow-color);
}
.cube img {
  width: 300px;
  height: 300px;
  margin: 25px 25px 10px;
  border-radius: 10px;
}
.text h1 {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  margin-left: 25px;
  margin-top: 10px;
}
.text p {
  color: var(--soft-blue);
  font-size: 18px;
  font-weight: 300;
  margin: 20px 25px;
}
.container_CyanAndClock {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  gap: 70px;

  margin: 20px 5px 20px 25px;
}
.container_Left {
  display: flex;
  align-content: space-between;
  gap: 7px;
  flex-direction: row;
  align-items: center;
}

/* .icon-ethereum img {
  margin-left: 25px;
} */
.container_Left-text {
  color: var(--cyan);
  font-size: 18px;
}
.container_Right {
  display: flex;
  align-content: space-between;
  gap: 7px;
  flex-direction: row;
  align-items: center;
  margin-left: 25px;
}

/* .clock img {
  /* margin-right: 10px; 
} */

.container_Right-text {
  font-size: 16px;
  color: var(--soft-blue);
}

hr {
  margin-left: 25px;
  border: 0px;
  width: 300px;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
}
.container__avatar {
  display: flex;
  /* align-content: space-between; */
  gap: 13px;
  flex-direction: row;
  margin-top: 20px;
  align-items: center; /*WAŻNE!!!!*/
}

.container__avatar img {
  width: 34px;
  height: 34px;
  margin-left: 25px;
  /* margin: 15px 5px 25px 25px; */
  border-radius: 100%;
  border-color: var(--white);
  border-style: solid;
}
.container__avatar-text p {
  font-size: 16px;
  color: var(--soft-blue);
  align-items: baseline;
  /* margin-top: 32px;
  margin-left: 55px; */
}
span {
  color: var(--white);
}
